body{
    margin : 0;
    padding: 0;
   
    font-family: 'Roboto Condensed', sans-serif;
    

}


#mainContainer{
    width : 100%;
    
    background-color:#072B5F;
    display: flex;
    justify-content: center;
    align-items:  center;
  
    
}

#formContainer{
  display: flex;
  width: 80%;
  justify-content: center;
  -webkit-box-shadow: 2px 2px 25px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 25px -3px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 25px -3px rgba(0,0,0,0.75); 
   

}

#formElements{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 690px;
    background-color:#F6D23C;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#picture{
  width: 40%;
  height: 525.2;
  background-image: url("./backg.jpg");
  background-size: cover;
  
  
}





#registerForms{
    display: flex;
    flex-direction: column;
    width: 80%;
}


#umID > input[type=text], select {
    width: 48%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #072B5F;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #name > input[type=text], select {
    width: 48%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #072B5F;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #projectTitle > input[type=text], select {
    width: 96.7%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #072B5F;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #email > input[type=text], select {
    width: 96.7%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #072B5F;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #phone > input[type=text], select {
    width: 48%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #072B5F;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #slots{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #registerButton{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }

  .button {
    background-color: whitesmoke;
    color: black;
    border: 2px solid #072B5F;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover {
      
    background-color: #072B5F;
    color: white;
    }

    #info{
      width: 80%;
      
       
       border-radius: 5px;
    }
    #error{
      background-color: #F8D7DA;
      border-radius: 5px;
     
    }
    #success{
      background-color: #D4EDDA;
      border-radius: 5px;
      
    }


    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }